{% extends 'base.html' %}

{% block title %}Schedules List{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    {% if schedules %}
    <p><a href="{% url 'scheduleapp:create' %}">New Schedule</a></p>
    {% endif %}
    {% else %}
    <h3>Login for Create Your First Schedule</h3>
    {% endif %}
    {% for schedule in schedules %}

        <hr>
        <div>
            <h2>
                <a href="{% url 'scheduleapp:edit' schedule.pk %}">{{ schedule.title }}</a>
                <form method="post" action="{% url 'scheduleapp:delete' schedule.pk %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" onclick="return confirm('Tem certeza de que deseja excluir esta anotação?');">
                        Remover
                    </button>
                </form>
            </h2>
            <small>Created at: {{ schedule.created_at|date:"d M Y, H:i" }} | Modified at: {{ schedule.modified_at|date:"d M Y, H:i" }}</small>
            <div>
                {{ schedule.body|safe }}
            </div>
        </div>

    {% empty %}
        {% if user.is_authenticated %}
            <p>No schedules yet. <a href="{% url 'scheduleapp:create' %}">Create your first Schedule!</a></p>
        {% endif %}
    {% endfor %}
{% endblock %}
