{% extends 'base.html' %}

{% block title %}Schedules List{% endblock %}

{% block content %}
    {% for schedule in schedules %}
        <hr>
        <div>
            <h2>
                <a href="{% url 'scheduleapp:edit' schedule.pk %}">{{ schedule.title }}</a>
            </h2>
            <small>Created at: {{ schedule.created_at|date:"d M Y, H:i" }} | Modified at: {{ schedule.modified_at|date:"d M Y, H:i" }}</small>
            <div id="schedule-content">
                {{ schedule.body|safe }}
            </div>
            <form method="post" action="{% url 'scheduleapp:delete' schedule.pk %}">
                    {% csrf_token %}
                    <button type="submit" id="removeButton" onclick="return confirm('Tem certeza de que deseja excluir esta anotação?');">
                        Remover
                    </button>
                </form>
        </div>
    {% endfor %}
{% endblock %}
